.button{
    
    width:15%;
    height:50px;
    border-radius: 1%;
    color: $red;
    background-color: $green;
    font-weight: 700;
    font-size: large;
    margin-left:1%;
    position: reletive;
    z-index: 2;

}

.button:hover{
    background-color: $yellow;
}

.button:active{
    background-color:$blue;
    color:$white;
}